<nav>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-start-1 col-end-2 p-2">
            <a href="/" class="text-blue-500"> Accueil </a>
            {% if app.user %}
                <a href="{{ path('jouer_index') }}"> Jouer </a>
            {% endif %}
        </div>
        <div class="col-start-3 col-end-4 flex justify-end p-2">
            {% if app.user %}
                <a class="" href="{{ path('app_logout') }}"><i
                            class="fa-solid fa-user"></i><span>{{ app.user.email }}</span></a>
                <a class="" href="{{ path('app_logout') }}"><i
                            class="fa-solid fa-user"></i><span>Se deconnecter</span></a>
                </p>
            {% endif %}
            {% if not app.user %}
                <a class="" href="{{ path('app_login') }}"><i
                            class="fa-solid fa-user"></i><span>Se connecter</span></a>
                <a class="" href="{{ path('app_register') }}"><i class="fa-solid fa-address-card"></i><span>S'enregistrer</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>