<nav class="bg-gradient-to-b from-blue-200 to-blue-900 text-white text-xl">
    <div class="grid grid-cols-3 gap-4">
        <div class="col-start-1 col-end-2 p-2">
            <a class="hover:uppercase mr-1" href="/"> Accueil </a>
            {% if app.user %}
                <a class="hover:uppercase mr-1" href="{{ path('jouer_index') }}"> Jouer </a>
            {% endif %}
        </div>
        <div class="col-start-3 col-end-4 flex justify-end p-2">
            {% if app.user %}
                <a class="sm:max-lg:hidden" href="{{ path('app_logout') }}"><i
                            class="fa-solid fa-user mr-1"></i><span class="mr-4 hover:uppercase">{{ app.user.email }}</span></a>
                <a class="" href="{{ path('app_logout') }}"><i
                            class="fa-solid fa-user mr-1"></i><span class="mr-4 hover:uppercase sm:max-lg:hidden">Se deconnecter</span></a>
            {% endif %}
            {% if not app.user %}
                <a class="sm:hidden lg:hidden hidden" href="{{ path('app_login') }}"><i
                            class="fa-solid fa-user mr-1"></i><span class="mr-4 hover:uppercase">Se connecter</span></a>
                <a class="" href="{{ path('app_register') }}"><i class="fa-solid fa-address-card mr-1"></i><span class="mr-4 hover:uppercase">S'enregistrer</span></a>
            {% endif %}
        </div>
    </div>
</nav>